---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<style>
  
  #contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Eddie Naff</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="py-2">
        <text class="text-lg">
          I make full-stack web apps!
          </text
        >
      </div>
      
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }
    <div id="contact">
      <div class="text-3xl w-full font-bold mb-2">Contact</div>
      <div>
      <form
      id="contact-form"
        name="contact"
        method="POST"
        action="http://192.168.1.16:8080/contact"
      >
      <div class="form-control">

      <!-- action="/success" -->
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="message" />
        <label for="name" class="input-group input-group-vertical">
          <span>Name</span>
          <input id="name" type="text" name="name"   class="input input-bordered" />
        </label>
        <label for="email" class="input-group input-group-vertical">
          <span>Email</span>
          <input id="email" type="email" name="email" class="input input-bordered" required />
        </label>
          <label for="message" class="input-group input-group-vertical">
          <span>What is your message?</span>
          <textarea id="message" wrap="soft" name="message" class="textarea textarea-bordered" required></textarea>
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
      </form>
    </div>
    </div>

</BaseLayout>
